<div>
  <h1> Contact List   <button type="button" class="btn btn-primary" (click)="gotoCreateContact()">Create a New Contact</button></h1>

  <div class="card col-md-4" *ngFor="let contact of contactList">
    <div class="card-body">
      <h5 class="card-title">{{contact.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{contact.company.name}}</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">{{ contact.phone }}</a>
      <a href="#" class="card-link">{{ contact.email }}</a>
    </div>
  </div>



 
</div>