<div class="container">
  <form class="col-md-4 offset-md-4" #f="ngForm" (ngSubmit)="onCreateContactHandler()" ngNativeValidate>
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="text" class="form-control" id="nameInput" placeholder="Enter name" 
        [(ngModel)]="contactDetails.name" name="name" required minlength="4" >
    </div>
    <div class="form-group">
      <label for="phoneInput">Phone Number</label>
      <input type="phone" class="form-control" id="phoneInput" placeholder="Enter Phone" 
      [(ngModel)]="contactDetails.phone" name="phone" required>
    </div>
    <div class="form-group">
      <label for="companyInput">Company</label>
      <input type="text" class="form-control" id="companyInput" placeholder="Enter Company" 
      [(ngModel)]="contactDetails.company.name" name="companyName" >
    </div>
    <div class="form-group">
      <label for="emailInput">Email address</label>
      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" required
      [(ngModel)]="contactDetails.email" name="email" >
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div>
      <input type="submit" class="btn btn-primary" value="Create Contact">
    </div>
  </form>

  <div class="alert alert-success alert-dange" role="alert" *ngIf="isSuccess">
    Thanks! New Contact has been created! Pls wait while we redirect you to contacts page...
  </div>
</div>

