<div class="card col-md-12">
  <div class="card-body">
    <h5 class="card-title">COntact name</h5>
    <h6 class="card-subtitle mb-2 text-muted">company.name</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">phone</a>
    <a href="#" class="card-link">contact.email</a>
    <br>
    <button class="btn btn-default">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>