<div>
  <h1> Contact Details
    <a routerLink="/contacts">
      << Back </a> </h1> <div class="card col-md-12" *ngIf="contactObj">
        <div class="card-body">
          <h5 class="card-title">{{ contactObj.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ contactObj.company.name }}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">{{ contactObj.phone }}</a>
          <a href="#" class="card-link">{{ contactObj.email }}</a>
          <br>
          <button class="btn btn-default" role="button" (click)="openEditModal()">Edit</button>
          <button class="btn btn-danger" (click)="contactDeleteHandler()">Delete</button>
        </div>
</div>

<div *ngIf="isDeleted" class="alert alert-success">
  Contact Deleted. Pls wait while we redirect to all contacts page. or <a routerLink="/contacts">click here</a>
</div>

<div class="modal fade" id="editContactModal" tabindex="-1" role="dialog" aria-labelledby="editContactModalLabel"
  aria-hidden="true" *ngIf="editableContactObj">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <form>
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" [(ngModel)]="editableContactObj.name" name="newName"
              placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="phoneInput">Phone Number</label>
            <input type="phone" class="form-control" id="phoneInput" [(ngModel)]="editableContactObj.phone" name="newPhone"
              placeholder="Enter Phone">
          </div>
          <div class="form-group">
            <label for="companyInput">Company</label>
            <input type="text" class="form-control" id="companyInput" name="newCompany" 
            [(ngModel)]="editableContactObj.company"
              placeholder="Enter Company">
          </div>
          <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control" id="emailInput" name="newEmail" 
            [(ngModel)]="editableContactObj.email"
              aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <input type="reset" id="resetBtn" style="display: none;" class="btn btn-secondary">
        </form>
        <div class="alert alert-success" *ngIf="isUpdated">
          The contact has been updated. Closing Modal now...
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateContact()">Save changes</button>
      </div>
    </div>
    
  </div>
</div>
</div>
